<div id="topbar" class="top-bar2">
	<div class="container">
		<div class="row">
			<div class="span9 top-bar-left">	
				<%= render :partial => 'spree/shared/ut2/categories_menu' %>
			</div>
			<div class="span7 top-bar-right">
				<%= render :partial => 'spree/shared/ut2/login_panel' %>
			</div>
		</div>
	</div>
</div>