<div class="content round" data-hook="product_gallery_header">
	<div class="dark-background" style="height:100px;">
		<div style="width:500px; float: left;">
			<h2>Check out some of the great blends others have already created!</h2>
		</div>
		<div style="width:300px;float:right;">
			<button id="create">
				<%= t(:make_my_own_blend) %>
			</button>
			<br />
			<div style="width: 262px; text-align: center">
				Try it out, you'll love it!
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {

		$("#create").button().click(function() {
			window.location.href = "/blendit";
		});
	}); 
</script>