<div class="tea_cups_div" id="tea_cups_div">
	<table class="tea_builder_divider" cellpadding="10">
		<tbody>
			<tr>
				<td style="width:25%;">You can choose up to three flavors for your blend.  Click on the ones you want to add.</td>
				<td style="width:15%;" class="tea-cup-list" id="black_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="fruit_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="herbal_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="green_tea_cups"></td>
				<td style="width:15%;" class="tea-cup-list" id="white_tea_cups"></td>
			</tr>
			<tr>
				<td colspan="6"> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>