<div class="tea_cups_div lead" id="tea_name_percentages">
	<div class="row">
		<div class="span3 text-center">
			<strong>Your Blend:</strong>
		</div>
		<div class="span8 text-center">
			<strong><%= @product.blend.html_safe %></strong>
		</div>
		<div class="span4">
			<i class="icon-edit"></i> <%= link_to_function t(:edit_blend), 'showEditPanel()' %>
		</div>
	</div>
</div>
<script type="text/javascript">
	function showEditPanel() {
		$("#tea_name_percentages").hide("Blind");
		$("#tea_selector_div").show("Blind");
		setupForEdit();
	};
</script>
