<div class="tea-tin">
	<img src="/assets/TeaTin.png"/>
</div>
<div class="tea-tin-image" style="height: 187px;">
	<%= mini_tea_tin_image(@product) %>
</div>
<div class="tea-tin-image-fade">
	<img src="/assets/TeaTinLabelFade.png"/>
</div>