<% content_for :head do -%>
  <meta name="title" content="Blend It">
<% end -%>
<% content_for :heading do %> UniqTeas - Blend It <% end %>
<h2><%=t(:make_your_own_blend)%></h2>

<%= render :partial => 'tea_selector' %>

