@media only screen and (min-width: 20em) {
	h1 {
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
	}
	h2 {
		display: block;
		font-size: 1.5em;
		font-weight: bold;
	}
	h6 {
		font-size: 1em;
		font-weight: bold;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}

	.container {
		background: none repeat scroll 0 0 #D4E5A5;
	}
	.content {
		background-color: #fff;
		padding: 10px;
		position: relative;
		margin-bottom: 10px;
	}

	.round {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	.dark-background {
		padding: 15px;
		background-color: #bbcad2;
		min-height: 130px;
	}

	.instructions {
		font-family: 'Abel', sans-serif;
		color: black;
		font-size: 12px;
		margin-bottom: 1.8em;
		line-height: normal;
	}

	.heading {
		color: black;
		font-size: 2em;
		margin-bottom: .5em;
		font-weight: normal;
	}
	/* Instruction page */
	.tin-and-cup {
		background-image: url("/assets/tin-and-cup.png");
		background-size: 300px 262px;
		background-repeat: no-repeat;
		width: 300px;
		height: 262px;
	}

	/* Nested Column Classes */
	.ui-grid-a.alpha, .ui-grid-a.alpha:hover, .line-item.alpha, .line-item.alpha:hover{
		background-color: #fff;
		padding: 10px;
		margin-bottom: 10px;
	}

	.ui-grid-a.alpha:hover, .line-item.alpha:hover {
		background-color: #BBCAD2;
	}

	/* Nested Column Classes */
	.ui-grid-a.beta, .ui-grid-a.beta:hover, .line-item.beta, .line-item.beta:hover {
		background-color: #ddd;
		padding: 10px;
		margin-bottom: 10px;
	}

	.ui-grid-a.beta:hover, .line-item.beta:hover {
		background-color: #BBCAD2;
	}

	.tea-tin {
		width: 250px;
		height: 259px;
		top: 0px;
		left: 20px;
		position: absolute;
	}

	.tea-tin-name, .tea-tin-description {
		padding: 2px 5px 5px 5px;
		position: absolute;
		width: 93px;
		top: 43px;
		left: 93.5px;
		font-size: 10.5px;
		font-family: "Yanone Kaffeesatz";
		text-align: center;
	}

	.tea-tin-description {
		width: 89px;
		padding: 2px 7px 5px 7px;
		top: 139px;
		text-align: left;
		font-size: 5px;
	}

	.tea-tin-image, .tea-tin-template {
		width: 103px;
		height: 138px;
		top: 42px;
		left: 93.5px;
		position: absolute;
	}

	.tea-tin-image {
		left: 98.5px;
		width:94px;
		height:71px;
		top:65px;
	}

	.tea-tin-image-fade {
		width: 250px;
		height: 259px;
		top: 0px;
		left: 20px;
		position: absolute;
	}
	/*
	 *= require store/spree_core
	 */

	#social_nav {
		height: 80px;
		padding-top: 15px;
		clear: both;
	}
	#social_nav ul {
		margin: 0;
		padding: 0;
		margin-top: 5px;
	}
	#social_nav ul li {
		float: left;
		padding: 5px 0 0 0;
		margin-right: 10px;
		list-style-type: none;
	}
	#social_nav ul li a {
		padding: 4px 5px 0 0;
		height: 32px;
		text-decoration: none;
		line-height: 1.45em;
	}
	.reddit img {
		padding-top: 3px;
	}
	
	.add-to-cart, .product-price {
		width: 30%;
	}
	
	.my-break-80-20 .ui-block-a {
		width: 80%;
	}
	
	.my-break-80-20 .ui-block-b {
		width: 20%;
	}

}

@media only screen and (max-width: 35em) {
	.add-to-cart, .product-price {
		width: 100%;
	}
	
	.heading {
		color: black;
		font-size: 1.6em;
		margin-bottom: .5em;
		font-weight: normal;
	}
	/* Instruction page */
	.tin-and-cup {
		background-image: url("/assets/tin-and-cup.png");
		background-size: 150px 131px;
		background-repeat: no-repeat;
		width: 150px;
		height: 131px;
	}
	.dark-background {
		padding: 15px;
		background-color: #bbcad2;
		min-height: 180px;
	}
	/* Tea Selector */
	td.tea-cup-list {
		padding-left: 5px;
		text-align: center;
	}

	.tea-list {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	.tea-list li, .tea-list  li:hover, .tea-list  li.selected {
		background-color: #eee;
		padding: 3px;
		border: 1px solid #BBCAD2;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-bottom: 2px;
		height: 75px;
	}

	.tea-list  li:hover {
		background-color: #f90;
		border: 1px solid white;
	}

	.tea-list  li.selected {
		background-color: #09f;
		border: 1px solid white;
		position: relative;
	}

	.tea-list  li.selected div {
		position: absolute;
		right: -5px;
		top: -5px;
		height: 18px;
		width: 18px;
	}
}

@media all and (max-width: 30em) {
	.my-break-80-20 .ui-block-a, .my-break-80-20 .ui-block-b, .my-break-80-20 .ui-block-c, .my-break-80-20 .ui-block-d, .my-break-80-20 .ui-block-e {
		width: 100%;
		float: none;
	}
	.my-break .ui-block-a, .my-break .ui-block-b, .my-break .ui-block-c, .my-break .ui-block-d, .my-break .ui-block-e {
		width: 100%;
		float: none;
	}
}
