<% content_for :subheader do %> <h1><%= t(:affiliate_program) %></h1>
<% end %>

<strong>Why UniqTeas?</strong>
<p>How many times have to heard a Starbucks customer ask for their special custom drink? The other day I heard “I want a grande triple soy white mocha with 2 pumps of cinnamon dolce, no whip”. The trend towards highly individualized products reflects a more sophisticated consumer, and the growing capability to customize products.</p>
<p>Uniqteas is at the leading edge of this movement, and is growing at a rate of 100% per quarter.</p>
<p>The company is headed up by Michael and Gina Caraway, a husband and wife team of tea enthusiasts who a year or so ago realized that they weren’t the only tea lovers that felt they were being forced to buy blends that were only marginally interesting. They decided to offer tea lovers the opportunity to create their own unique blend of flavors from a range of the highest quality teas, many of which are both organic and fair trade. But creating a custom blend is just the start. Uniqteas customers can name their own teas and even add their own image to the packaging. This makes their blend truly unique.</p>
<strong>Partner with Us</strong>
<p>Become a partner in the UniqTeas Affiliate Program today and start earning commission on every sale that you send our way. UniqTeas.com is an innovative new site that allows anyone to make their own tea blends. UniqTeas.com also offers exciting gourmet teas and tea accessories as great prices.  In this economy, people are looking for high end products at low prices.  That's why they love Caraway Tea. Combine that with our user friendly website and simple checkout process and you’ll be sure to converting at a high clip!</p>

<strong>Our Affiliate Program Proudly Offers</strong>
<ul>
<li>A high converting website!</li>
<li>10% Commission!</li>
<li>90 Day Cookie!</li>
<li>High quality banners and text links!</li>
<li>NO Leaks!</li>
<li>Deep links!</li>
<li>Ongoing communications!</li>
<li>Shareasale Exclusive Program!</li>
</ul>

<p class="style5">We want you to succeed so we work closely with our affiliates. Feel free to contact us to discuss best selling 
	products, marketing strategies, special offers and more with any affiliate looking to succeed with our program. If you have any 
	questions, please contact us directly at <a href="email: affiliates@uniqteas.com">affiliates@uniqteas.com</a>. We're happy to 
	help and look forward to working with you soon!</p>

<p class="style5"><strong>Terms and conditions</strong></p>
<p class="style5">We do not allow trademark bidding or unethical affiliate behavior. This includes the use of adware, loyaltyware, 
	cookie stuffing and PPC violations. Please be sure to read the UniqTeas.com terms and conditions carefully before implementing any
	marketing strategies for our program. If you have any questions or concerns, your affiliate manager would be happy to discuss and 
	help you with any issues you might have.</p>