<h1>Contact Us</h1>
<h2>Email:</h2>
<p>You can contact us via email at <a href="mailto:support@uniqteas.com">support@uniqteas.com</a>. If you are writing to us about an order you have already placed, please include your order number if possible.</p>
<h2>Telephone:</h2>
<p>To order over the phone, or if you have questions or comments on any of our products, or concerns about an order you have placed, please call us at 1-845-236-3645.</p>
