<% content_for :subheader do %> <h1><%= t(:returns_and_exchanges) %></h1>
<% end %>

<p>
	If for any reason you need to return or exchange an item, UniqTeas.com will handle your return by either promptly 
	exchanging the item or issuing a credit or 	refund. The following items outline the steps you must take to request 
	a return or exchange. Please note the terms and conditions below. If you have any questions, you may reach us 
	through our contact form, or call our customer service line at (845) 236-3645.
</p>
<h2><%= t(:terms_and_conditions)%></h2>
<p>The following terms and conditions apply yo RMAs and exchanges. <br />
	<ul>
		<li>We will accept returns within 30 days of your receipt. Exceptions to this are damaged and defective items, which have 
			their own return policy (see below).</li>
		<li>Returned merchandise <strong style="color: #000;">must</strong> be in saleable condition, with manufacturer's <em>original packaging</em>.</li>
		<li>Sorry, shipping fees are <strong style="color: #000;">not</strong> refundable.</li>
		<li><strong style="color: #000;">Coffee machines</strong> and <strong style="color: #000;">water coolers</strong> are subject to a 20% restocking fee.</li>
		<li><strong style="color: #000;">Damaged products:</strong> If a package arrives and is damaged, please notify us via our 
		<a href="/contact" title="Contact UniqTeas.com">contact form</a>, or call our customer service line (845) 236-3645. Claims against a common carrier must be made by us.</li>
		<li>Save <strong style="color: #000;">all</strong> packaging for any claims.</li>
	</ul>
</p>
<p>
	Please use our <a href="/contact" title="Contact UniqTeas.com">contact form</a> to request a refund or exchange.
</p>
