<% content_for :head do %>
<style>
	#wrapper{
		background-color: #eee;
	}
	html, body {
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	body {
		font-size: 15px;
		color: #555;
	}
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	a, a:visited, a:active, a:hover {
		text-decoration: none;
		outline: none;
	}

	h2 {
		color: #000;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}
	#welcome {
		font-size: 16px;
		color: #000;
		padding: 10px;
		background-color: #fff;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
		margin-bottom: 0px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	#progress {
		background-color: #fff;
		padding: 5px;
		margin-top: 0px;
		margin-bottom: 20px;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	}

	#progress .percent {
		background: #87C442;
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#9FD04F),color-stop(100%,#87C442));
		background-image: -webkit-linear-gradient(#9FD04F,#87C442);
		background-image: -moz-linear-gradient(#9FD04F,#87C442);
		background-image: -o-linear-gradient(#9FD04F,#87C442);
		background-image: -ms-linear-gradient(#9FD04F,#87C442);
		background-image: linear-gradient(#9FD04F,#87C442);
		width: 1%;
		height: 30px;
		position: relative;
	}

	#progress .percent .number {
		position: absolute;
		top: 0px;
		height: 30px;
		line-height: 30px;
		color: #000;
		right: -40px;
		width: 40px;
		text-align: center;
		font-weight: bold;
	}

	#actions {
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 50px;
	}

	#actions li {
		float: left;
		width: 33%;
		padding: 10px;
		text-align: center;
		border-right: 1px solid #bbb;
		border-left: 1px solid #fff;
	}

	#actions li:nth-child(1) {
		border-left: none;
	}

	#actions li:nth-child(2) {
		width: 34%;
	}

	#actions li:nth-child(3) {
		border-right: none;
	}

	button {
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		background: #87C442;
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#9FD04F),color-stop(100%,#87C442));
		background-image: -webkit-linear-gradient(#9FD04F,#87C442);
		background-image: -moz-linear-gradient(#9FD04F,#87C442);
		background-image: -o-linear-gradient(#9FD04F,#87C442);
		background-image: -ms-linear-gradient(#9FD04F,#87C442);
		background-image: linear-gradient(#9FD04F,#87C442);
		color: black;
		-moz-box-shadow: inset 0 1px 0 0 #b7dc63;
		-webkit-box-shadow: inset 0 1px 0 0 #B7DC63;
		-o-box-shadow: inset 0 1px 0 0 #b7dc63;
		box-shadow: inset 0 1px 0 0 #B7DC63;
		text-shadow: #FFFF8E 0 1px 0;
		-moz-background-clip: border;
		-webkit-background-clip: border;
		-o-background-clip: border-box;
		-ms-background-clip: border-box;
		-khtml-background-clip: border-box;
		background-clip: border-box;
		border: 1px solid #1A1A1A;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-o-border-radius: 6px;
		-ms-border-radius: 6px;
		-khtml-border-radius: 6px;
		border-radius: 6px;
		color: #000;
		font-size: 24px;
		line-height: 48px;
		padding: 0 20px;
		-moz-transition: "color", "0.3s";
		-webkit-transition: "color", "0.3s";
		-o-transition: "color", "0.3s";
		transition: "color", "0.3s";
		cursor: pointer;
		margin: 0px;
		opacity: 0.99;
	}

	button:hover {
		opacity: 0.9;
	}

	button.facebook {
		background: #3b5998;
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4b71c1),color-stop(100%,#3b5998));
		background-image: -webkit-linear-gradient(#4b71c1,#3b5998);
		background-image: -moz-linear-gradient(#4b71c1,#3b5998);
		background-image: -o-linear-gradient(#4b71c1,#3b5998);
		background-image: -ms-linear-gradient(#4b71c1,#3b5998);
		background-image: linear-gradient(#4b71c1,#3b5998);
		color: #fff;
		-moz-box-shadow: inset 0 1px 0 0 #5b8aeb;
		-webkit-box-shadow: inset 0 1px 0 0 #5b8aeb;
		-o-box-shadow: inset 0 1px 0 0 #5b8aeb;
		box-shadow: inset 0 1px 0 0 #5b8aeb;
		text-shadow: #3b5998 0 1px 0;
	}

	button.twitter {
		background: #2578b4;
		background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#58a8e2),color-stop(100%,#2578b4));
		background-image: -webkit-linear-gradient(#58a8e2,#2578b4);
		background-image: -moz-linear-gradient(#58a8e2,#2578b4);
		background-image: -o-linear-gradient(#58a8e2,#2578b4);
		background-image: -ms-linear-gradient(#58a8e2,#2578b4);
		background-image: linear-gradient(#58a8e2,#2578b4);
		color: #fff;
		-moz-box-shadow: inset 0 1px 0 0 #88c1ec;
		-webkit-box-shadow: inset 0 1px 0 0 #88c1ec;
		-o-box-shadow: inset 0 1px 0 0 #88c1ec;
		box-shadow: inset 0 1px 0 0 #88c1ec;
		text-shadow: #2578b4 0 1px 0;
	}
</style>
<% end %>
<% content_for :subheader do %> <h1>Support UniqTeas with 3 Clicks</h1>
<% end %>
<p id="welcome">
	<b>Hola, rockstar!</b>
	<br />
	<br />
	We hope you're having an awesome day. You're here because we know you have influence. When you share something, people pay attention. So, please take a few seconds to spread the UniqTeas love.
	<br />
	<br />
	<b>Thanks so much,</b>
	<br />
	Mike, Gina and the entire UniqTeas Team
</p>
<div id="progress">
	<div class="percent">
		<div class="number">
			0%
		</div>
	</div>
</div>
<ul id="actions">
	<li>
		<h2>1. Share on Facebook</h2>
		<p>
			Share UniqTeas with your friends
		</p>
		<button class="facebook">
			Share
		</button>
	</li>
	<li>
		<h2>2. Post on Twitter</h2>
		<p>
			Hook your following up 
		</p>
		<button class="twitter">
			Tweet
		</button>
	</li>
	<li>
		<h2>3. Watch our Video</h2>
		<p>
			Thanks in advance for backing us
		</p>
		<button class="play">
			Play
		</button>
	</li>
</ul>

<script type="text/javascript">
	$(function() {
		var clicks = 0;
		$('button').on('click', function() {
			clicks++;
			var percent = Math.min(Math.round(clicks / 3 * 100), 100);
			$('.percent').width(percent + '%');
			$('.number').text(percent + '%');
		});

		$('.facebook').on('click', function() {
			var w = 580, h = 300, left = (screen.width / 2) - (w / 2), top = (screen.height / 2) - (h / 2);

			if ((screen.width < 480) || (screen.height < 480)) {
				window.open('http://www.facebook.com/share.php?u=http://igg.me/at/uniqteas', '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
			} else {
				window.open('http://www.facebook.com/share.php?u=http://igg.me/at/uniqteas', '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
			}
		});

		$('.twitter').on('click', function() {
			var loc = encodeURIComponent('http://igg.me/at/uniqteas'), title = "Innovative new tool to take full creative control of your own unique tea — ", w = 580, h = 300, left = (screen.width / 2) - (w / 2), top = (screen.height / 2) - (h / 2);

			window.open('http://twitter.com/share?text=' + title + '&url=' + loc, '', 'height=' + h + ', width=' + w + ', top=' + top + ', left=' + left + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
		});

		$('.play').on('click', function() {
			window.location.href = "http://www.vimeo.com/uniqteas";
		});

	}); 
</script>
