<% content_for :subheader do %> <h1><%= t(:Shipping) %></h1>
<% end %>

<p>
	Domestic orders are sent via FedEx, UPS, or USPS. Expedited shipping orders must be placed before noon EST to be processed that same day. 
	It may take up to 48 hours to process an order. Please note this is not included when calculating estimated time of delivery. 
	Packages sent to AK or HI are delivered via FedEx. We are not able to send to Military/APO 
	addresses at this time. Due to the varying nature of the products available on our website, which come from a number of 
	sources, we are not able to guarantee or set a preference for where an order may originate. Customer service is not able to 
	control where a product may ship from.
</p>

