<div class="navbar">
	<div class="navbar-inner"  style="margin-top: 5px;">
		<!-- Start: Primary navigation -->
		<div class="nav-collapse">
			<%= categories_tree(get_category_root, nil, 5) %>
		</div>
	</div>
</div>