<!-- Start: Navigation wrapper -->
<div class="row margin-top">
	<div class="span6" style="padding-top:25px;">
		<%= render :partial => 'spree/shared/login_panel' %>
	</div>
	<div class="span4 align-center">
		<%= logo %>
	</div>
	<div class="span6 align-center" style="margin-top: 25px;">
		<%= render :partial => 'spree/shared/search' %>
	</div>
</div>
<%= render :partial => "spree/shared/categories_menu" %>