<header id="header" class="row" data-hook>
  <figure id="logo" class="columns alpha six" data-hook><%= logo %></figure>
  <div class="motto">You design it,</div>
  <div class="motto-2">We blend it</div>
</header>
