<div class="content round" data-hook="homepage_instructions">
	<div class="dark-background">
		<div class="instructions heading">
			The most flavorful
			<br/>
			healthy teas,
			<br />
			and you create your
			<br />
			unique blend!
		</div>
		<div class="instructions" style="padding-left:20px;">
			<button id="create-user">
				Get started now.
			</button>
			<br />
			<div style="width: 232px; text-align: center">
				Try it out, you'll love it!
			</div>
		</div>
	</div>
	<div >
		<%= render :partial => '/spree/shared/tea_selector' %>
	</div>
	<div class="instruction_bullets">
		<ul>
			<li>
				Create your own blend, or choose one created by us, a friend or just someone with great taste!
			</li>
			<li>
				We blend it, add your name and artwork to the cannister, customize the tea tags, and ship it to you.
			</li>
			<li style="border: none;">
				Perfect for a birthday, or Holiday gift and for any other occasion.  Or just because you deserve your own special blend!
			</li>
		</ul>
	</div>
	<div class="tin-and-cup">
		<img src="/assets/tin-and-cup.png" width="413px" height="434px"/>
	</div>

</div>
<script type="text/javascript">
	$(function() {
		$("#create-user").button().click(function() {
			window.location.href = "/blendit";
		});

	}); 
</script>
