<div class="dark-background">
	<div class="instructions heading">Make your own custom tea in three easy steps.</div>
	<div class="instructions">
		<span class="step">Step 1:</span>
		pick 2 to 4 teas to blend together.
	</div>
	<div class="instructions">
		<span class="step">Step 2:</span>
		name your blend and tell people all about it.
	</div>
	<div class="instructions">
		<span class="step">Step 3:</span>
		pimp it! a.k.a. design your artwork or choose from a template.
	</div>
	
	<div class="instructions">
		Now order it!
	</div>
</div>
<div class="instructions centered">
	<input type="button" value="Click to get started" />
</div>
<div class="tin-and-cup">
	<img src="/assets/store/tin-and-cup.png"/>
</div>
