<div class="dark-background-m">
	<div class="tin-and-cup-m">
		<img src="/assets/tin-and-cup.png" width="150px" height="131px"/>
	</div>
	<div class="instructions-m heading-m">
		The most flavorful
		<br/>
		healthy teas,
		<br />
		and you create your
		<br />
		unique blend!
	</div>
	<div style="margin-left: 20px;width: 65%;">
		<a data-theme="b" href="/blendit" data-transition="slide" data-role="button" data-icon="star" >Get started now.</a>
	</div>
	<p>
		<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.uniqteas.com%2F&media=http%3A%2F%2Fwww.uniqteas.com%2Fassets%2Ftin-and-cup.png&description=Are%20you%20bored%20with%20the%20mundane%20tea%20flavors%20offered%20in%20stores%3F%20%20Have%20you%20ever%20wanted%20to%20take%20creative%20control%20of%20your%20tea%3F%20%20Well%20then%20UniqTeas%20is%20the%20place%20for%20you.%20%20Come%20to%20UniqTeas.com%20and%20make%20your%20own%20flavors." class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
	</p>
</div>

