<nav class="columns alpha omega ten">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="account-link" data-hook><%= link_to t(:my_account), spree.account_path %></li>
    <li id="link-to-cart" data-hook><%= link_to t(:cart) , spree.cart_path %></li>
  </ul>
</nav>