<div class="tea-tin" style="width:183px;height:190px;">
	<img src="/assets/TeaTin.png" width="183px" height="190px"/>
</div>
<div class="tea-tin-image" style="height: 136px;top:27px;right:49px;">
	<%= xmini_tea_tin_image(product) %>
</div>
<div class="tea-tin-image-fade" style="width:183px;height:190px;">
	<img src="/assets/TeaTinLabelFade.png" width="183px" height="190px"/>
</div>
<div class="tea-tag" style="width:183px;height:190px;">
	<img src="/assets/Teabag-and-Teatag.png" width="183px" height="190px"/>
</div>
<div class="tea-tag-image" style="top:152px;right:115px;">
	<%= xmini_tea_tag_image(product) %>
</div>