<div id="topbar" class="top-bar">
	<div class="span6">
		<%= t(:free_shipping)%>&nbsp;<%= link_to t(:details), shipping_path %>
	</div>
	<div class="span6 offset4"><%= t(:free_teaball)%><%= link_to t(:details), shipping_path %></div>
</div>