<div id="topbar" class="top-bar2">
	<div class="container">
		<div class="row">
			<div class="span1 top-bar-left">
				<a href="/"><img src="/assets/store/icon-47x47-transparent.png" alt="Uniq Teas" title="Uniq Teas"></a>
			</div>
			<div class="span6 top-bar-left">	
				<%= render :partial => 'spree/shared/categories_menu2' %>
			</div>
			<div class="span2 top-bar-center" style="padding-top: 10px">
				<%= render :partial => 'spree/shared/email_promo_panel' %>
			</div>
			<div class="span7 top-bar-right">
				<%= render :partial => 'spree/shared/login_panel2' %>
			</div>
		</div>
	</div>
	<%= render :partial => 'spree/home/top_banner' %>
</div>