<div class="columns six">
	<%= render :partial => 'promo_box' %>
	<%= render :partial => 'customer_blend_list' %>
</div>
<div class="home-page-intro">
	<div class="heading">
		We help you create your unique
		<br />
		blend of teas, you help create
		<br />
		your own unique packaging.
		<br />
	</div>
	<div style="margin: 10px 0px 0px 200px">
		<%= link_to blendit_url, :class => "button" do %>
		<%= content_tag(:i, '', :class => 'icon-plus') + " " + t(:try_it_free) %>
		<% end %>
	</div>
</div>
<div class="home-page-promos columns sixteen">
	<div class="columns four">
	<img src="/assets/store/free-shipping.png" />
	</div>
	<div class="columns four">
	<img src="/assets/store/free-teaball.png" />
	</div>
	<div class="columns three">
	<img src="/assets/store/1x1.png" width="100" height="200" />
	</div>
</div>
